.panel {
    width: 49%;
    color: #fff;
    margin: 5px;
}

@media only screen and (max-width: 768px) {
    .panel {
        width: 100%;
    }
}

.panelContent {
    background-color: #90acd1;
    padding: 40px 30px;
    border-radius: 20px;
}

.panelTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.jobName {
    width: 50%;
}

.jobDurationWrapper {
    width: 50%;
}

.jobDuration {
    color: #000;
    font-weight: 600;
    background-color: #fff;
    margin-left: 30px;
    text-align: center;
    padding: 7px 0;
    border-radius: 20px;
}

.panelBody {
    font-size: .8rem;
    border-top: 1px solid #fff;
}

.jobDescription {
    margin-top: 10px;
    text-align: justify;
}

.jobTitle {
    font-size: 1.3rem;
    font-weight: 600;
}