.bannerArea {
    background-color: #90acd1;
}

.bannerText {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
}

.textWrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.detailsArea {
    padding: 50px 0;
    max-height: 500px;
    overflow-x: auto;
}

.imgWork {
    width: 100%;
}

.workTitle {
    color: #000;
}

.workDescription {
    text-align: justify;
}

.listTechnologies {
    padding-left: 15px;
    font-size: 13px;
}

.listWrapper {
    margin-top: 20px;
}